*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.name{
    text-align: center;
    color: hsl(120, 100%, 40%);
    margin: 20px 0px;
}
.college{
    text-align: center;
    color: hsl(240, 100%, 50%);
}
.image{
    display: block;
    width: 600px;
    height: 400px;
    margin: 10px auto;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: large;
    text-align: center;
}
th{
    padding: 0px 20px;
    border: 1px solid black;
}
td{
    padding: 0px 20px;
    border: 1px solid black;
}
address{
    text-align: center;
    font-size: large;
}
p{
    text-align: center;
    font-size: large;
}
.form{
    display: block;
    margin:10px auto;
    width: 100%;
    text-align: center;
}
input{
    margin:5px 0px;
}
label{
    margin:5px 0px;

}
button{
    padding: 5px;
}